// Global styling for this template

@font-face {
  font-family: 'Flama-Medium';
  src: url('fonts/Flama-Medium.eot');
  src: url('fonts/Flama-Medium.woff') format('woff'),
       url('fonts/Flama-Medium.svg#Flama-Medium') format('svg'),
       url('fonts/Flama-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlamaCondensed-Black';
  src: url('fonts/FlamaCondensed-Black.eot');
  src: url('fonts/FlamaCondensed-Black.woff') format('woff'),
       url('fonts/FlamaCondensed-Black.svg#FlamaCondensed-Black') format('svg'),
       url('fonts/FlamaCondensed-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flama-Book';
  src: url('fonts/Flama-Book.eot');
  src: url('fonts/Flama-Book.woff') format('woff'),
       url('fonts/Flama-Book.svg#Flama-Book') format('svg'),
       url('fonts/Flama-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body,
html {
  width: 100%;
  height: 100%;
}


.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($secondary, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $secondary;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $secondary;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}
