// Styling for the masthead
body {
    background: linear-gradient( rgba(22, 54, 78, .5), rgba(22, 54, 78, .5) ), 
      url('../img/background.jpg')  no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

header.masthead {
  padding-bottom: calc(10rem - 56px);

  .row {
    margin-top: -6rem !important;
  }
  @media (min-width: 992px) {
    .row {
      margin-top: 3rem !important;
    }
  }

  img {
    max-width:120%;
  }
  @media (min-width: 768px) {
    img {
      max-width: 100%;
  }
}
  // @media (min-width: 992px) {
  //   img {
  //     max-width: 100%;
  //   }
  // }

  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}

